body{
    background-color: rgb(129, 125, 179);
}
h1, h2, p {
    color: rgb(40, 6, 80);
    text-align: center;
}
p {
    text-align: center;
    color: rgb(7, 10, 187);
}
#para1 {
    text-align: center;
    color: hsl(324, 93%, 5%);

}

.center {
    text-align: left;
    color: rgb(71, 9, 9);
}
div {
    border: 5px solid rgb(38, 3, 71);
    background-color: rgb(179, 164, 194);
    padding: 30px;
    width: 300px;
    border-radius: 100px;
}
div a{
    text-decoration: none ;
}
div span{
    color: black;
    display: flex;
}

.p1 { 
    font-family:cursive;
}
.p2 {
    font-family:cursive;
}

a {
    color: bisque;
    text-decoration: none;
}
button {
    background-color: rgba(48, 4, 54, 0.897);
    border-radius: 10px;
}